doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Best Quiz Ever
        meta(name="description", content="Play the best quiz, collect points and competite with others!")
        meta(property="og:title", content="Best Quiz Ever")
        meta(property="og:url", content="http://f0781709.xsph.ru/")
        meta(property="og:image", content="./images/og_logo.png")
        meta(property="og:description", content="Play the best quiz, collect points and compete with others!")
        link(rel="icon", href="./images/favicon32.ico", type="image/x-icon" sizes="32x32")
        link(rel="icon", href="./images/favicon64.ico", type="image/x-icon" sizes="64x64")
        link(href="./styles/body.css", rel="stylesheet", type="text/css")
        link(href="./styles/cards.css", rel="stylesheet", type="text/css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        //Политика безопасности загружаемых скриптов: только с того же адреса
        meta(http-equiv="Content-Security-Policy", content="script-src 'self' http://f0781709.xsph.ru/scripts/ 'unsafe-inline' 'unsafe-eval'; ")
    body
        //Заголовок (шапка) страницы
        header.top#main_h
            h1
                a(href=".") BEST QUIZ EVER
            nav
                ul
                    li
                        a(href="https://github.com/Altasa/SPTP", target="_blank") GitHub
                    li
                        input.huab#a-login(type="button", value="")
                    li
                        input.huab#a-register(type="button", value="")
        main
            //- section#hero-img
            //Таблица доступных викторин
            mixin card(quiz_id, card_title, date_posted, preview, type, difficulty, img_src)
                if difficulty == "Very Easy"
                    - var color = "blue"
                else if difficulty == "Easy"
                    - var color = "green"
                else if difficulty == "Medium"
                    - var color = "yellow"
                else if difficulty == "Hard"
                    - var color = "red"

                article.quiz.dark(class=color)
                    a.quiz__img-link(href="#")
                        img.quiz__img(src=img_src, alt="Image Title")
                    .quiz__text
                        h3.quiz__title= card_title
                        .quiz__subtitle
                            time
                                i.small= date_posted
                        .quiz__bar
                        .quiz__preview-text= preview
                        ul.quiz__tagbox
                            li.tagbox__item
                                i= type
                            li.tagbox__item(class=color)
                                i= difficulty
                            li.tagbox__item.play(class=color)
                                i(id=quiz_id) Accept Challenge

            section#hero
                .container
                    h2#hero-title Quizzes available
                    +card("quiz1", "WEB Develop", "Sun, May 7th 2023", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!", "Quiz", "Very Easy", "./images/q1_img.jpg")
                    +card("quiz2", "Cats Are The Best", "Sun, May 21st 2023", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!", "Quiz", "Easy", "./images/q2_img.jpg")
                    +card("quiz3", "Cinematics", "Sun, May 14th 2023", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!", "Quiz", "Medium", "./images/q3_img.jpg")
                    +card("quiz4", "Bread: A History", "Sun, May 28th 2023", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!", "Quiz", "Hard", "./images/q4_img.jpg")
        hr.auth-hr#footer-hr
        //Сведения об авторах
        footer.bottom#main_f
            #commons
                p Created and maintained under a <a class="hua" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a> on behalf of Nikita Zhdanov, Maxim Sozurukov, Mikhail Verkhov.
                a(rel="license", href="http://creativecommons.org/licenses/by-nc-sa/4.0/", target="_blank")
                    img(src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png", alt="Creative Commons License",style="border-width:0")
            #links_f
                a.hua(rel="license", href="http://creativecommons.org/licenses/by-nc-sa/4.0/", target="_blank") Legal Information
                a.hua(href="https://github.com/Altasa/SPTP", target="_blank") GitHub Repository
        //Безопасный загрузчик скрипта
        script
            include scripts/save_script_loader.js